<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="La Fondation contre le Cancer vous informe sur le cancer de la peau (mélanome). Lisez-en plus sur les traitements et symptômes.">
    <meta name="abstract" content="cancer de la peau, mélanome">
    <title>Cancer de la peau (mélanome)</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="static/css/theme.css" media="all">
  </head>
  <body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-8176 node-type-cancer i18n-fr eu-cookie-compliance-processed cowGdprTweaksGoogleTag-processed">
    <div class="page-main">
      <!-- Header -->
      <header id="page-header" class="page-header">
        <div class="container">
          <div class="row">
            <a href="javascript:;" class="fa fa-bars mobile-only"></a>
            <!-- Logo -->
            <a href="https://www.cancer.be/" rel="home" id="logo">
              <img src="static/image/logo_fr.png" alt="Accueil">
            </a>
            <!-- Region Header -->
            <div class="header-wrapper no-grid">
              <div class="region region-header">
                <div id="block-menu-menu-secondary-navigation-fr" class="block block-menu top-menu footerize-processed">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="menu clearfix"><li class="first collapsed"><a href="https://www.cancer.be/la-fondation-contre-le-cancer">La Fondation</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/annuaire" title="Annuaire">Annuaire</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/activites" title="Agenda">Agenda</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/actualites">Actualités &amp; Presse</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/travailler-la-fondation-contre-le-cancer">Jobs</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/galleries">Photos</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/nous-soutenir/participez-en-tant-quentreprise/nos-partenaires">Partenaires</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/publications">Publications</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/nous-soutenir/espace-donateur" title="Espace Donateur">Mon Espace Donateur</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/questions-frequemment-posees">Faq</a></li>
                        <li class="last leaf"><a href="https://www.cancer.be/nous-contacter">Contact</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-search-form" class="block block-search search-box">
                  <div class="block-inner search-mob-processed">
                    <div class="content">
                      <form action="/les-cancers-types-de-cancers-liste-z/cancer-de-la-peau-m-lanome" method="post" id="search-block-form" accept-charset="UTF-8" class="fv-processed" novalidate="">
                        <div>
                          <div class="container-inline">
                            <h2 class="element-invisible">Formulaire de recherche</h2>
                            <div class="form-item form-type-textfield form-item-search-block-form">
                              <label class="element-invisible" for="edit-search-block-form--2">Rechercher </label>
                              <input title="Indiquer les termes à rechercher" type="text" id="edit-search-block-form--2" name="search_block_form" size="15" maxlength="128" class="form-text">
                            </div>
                            <div class="form-actions form-wrapper" id="edit-actions">
                              <input type="submit" id="edit-submit" name="op" value="Rechercher" class="form-submit">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-menu-menu-primary-navigation-fr" class="block block-menu main-navigation jquery-once-34-processed">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="menu clearfix">
                        <li class="expanded active-trail"><a href="https://www.cancer.be/le-cancer" class="active-trail">Le cancer</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/aide-aux-patients">Aide aux patients</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/pr-vention-0">Prévention</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/d-pistages-et-signaux-dalarme-du-cancer">Dépistage et signaux d'alarme</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/projets-finances">Projets financés</a></li>
                        <li class="last collapsed"><a href="https://www.cancer.be/un-don-pour-la-vie">Nous soutenir</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-locale-language" class="block block-locale language-switcher">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="language-switcher-locale-url">
                        <li class="nl first"><a href="https://www.kanker.be/alles-over-kanker/alle-types-kanker/huidkanker-melanoom" class="language-link" xml:lang="nl" hreflang="nl" title="Huidkanker (melanoom)" lang="nl">NL</a></li>
                        <li class="fr last active"><a href="https://www.cancer.be/les-cancers-types-de-cancers-liste-z/cancer-de-la-peau-m-lanome" class="language-link active" xml:lang="fr" hreflang="fr" title="Cancer de la peau (mélanome)" lang="fr">FR</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->
              </div>
            </div>  
            <a href="javascript:;" class="fa fa-search mobile-only"></a>
          </div><!-- row -->
        </div> <!-- container -->
      </header>

      <!-- Breadcrumb -->
      <div class="breadcrumb">
        <div class="container">
          <div id="breadcrumb" class="mobile-breadcrumb-processed">
            <h2 class="element-invisible">Vous êtes ici</h2>
            <div class="bread-mobile">
              <ul>
                <li><a href="https://www.cancer.be/">Accueil</a> </li><li><ul><li class="separator">  &gt;   ...    &gt;  </li>
                <li><a href="https://www.cancer.be/le-cancer">Le cancer</a></li>
                <li><a href="https://www.cancer.be/cancer-glossary">Types de cancers</a></li>
                <li class="last">Cancer de la peau (mélanome) - Général</li>
              </ul>
            </div>
            <div class="breadcrumb">
              <a href="https://www.cancer.be/">Accueil</a> » 
              <a href="https://www.cancer.be/le-cancer">Le cancer</a> » 
              <a href="https://www.cancer.be/cancer-glossary">Types de cancers</a> » 
              <span class="active">Cancer de la peau (mélanome) - Général</span>
            </div>
          </div>
        </div>
      </div>
      <!-- breadcrumb -->
      
      <div class="promo">
        <div class="container">
          <div class="region region-promo">
            <div id="block-views-header-image-block-3" class="block block-views header-banner jquery-once-23-processed">
              <div class="block-inner">
                <div class="content">
                  <div class="view view-header-image view-id-header_image view-display-id-block_3 view-dom-id-e962e61e3a7282f888928e45462b7d54">
                    <div class="view-content">
                      <div>
                        <img src="static/image/Type_kanker_0.jpg">    
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- block-inner -->
              <h1 class="title" id="page-title">Cancer de la peau (mélanome) - Général</h1>
            </div> <!-- /block -->
            <div id="block-menu-block-9" class="block block-menu-block main-navigation-lvl2 jquery-once-36-processed hidden-phone">
              <div class="block-inner">
                <div class="content">
                  <div class="menu-block-wrapper menu-block-9 menu-name-menu-primary-navigation-fr parent-mlid-0 menu-level-4">
                    <ul class="menu clearfix">
                      <li class="first leaf menu-mlid-6653"><a href="/" title="Tout savoir sur le mélanome : causes, symptômes et traitements du mélanome. La Fondation contre le Cancer vous informe de A à Z sur le mélanome.">Cancer de la peau (mélanomes)</a></li>
                      <li class="leaf menu-mlid-9149"><a href="/">Causes</a></li>
                      <li class="leaf menu-mlid-9150"><a href="/">Symptômes</a></li>
                      <li class="leaf menu-mlid-9151"><a href="/">Examens</a></li>
                      <li class="leaf menu-mlid-9152"><a href="/">Traitements</a></li>
                      <li class="last leaf has-children active-trail active menu-mlid-9153"><a href="detection" class="active-trail active">Dépistage en ligne (Beta)</a></li>
                    </ul>
                  </div>
                </div>
              </div> <!-- block-inner -->
            </div> <!-- /block -->
          </div>
        </div>
      </div> <!-- promo -->
      
      <!-- Messages -->
      <section id="page-wrapper" class="page-wrapper eq-block-footer-processed">
        <div class="container">
          <div class="row">
          <!-- Sidebar Left -->
          <!-- Page content-->
          <section id="page-content" class="col-md-12">
            <!-- Region content-->
            <div class="region region-content">
              <div class="navigation-menu-drop-js mobile-only">
                <select id="ui-id-13" style="display: none;">
                  <option value="0" selected="selected">Cancer de la peau (mélanomes)</option>
                  <option value="1">Causes</option>
                  <option value="2">Symptômes</option>
                  <option value="3">Examens</option>
                  <option value="4">Traitements</option>
                  <option value="5">Dépistage en ligne (Beta)</option>
                </select>
                <span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-13-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-13-menu" aria-haspopup="true" style="width: 98px;">
                  <span class="ui-icon ui-icon-triangle-1-s"></span>
                  <span class="ui-selectmenu-text">Cancer de la peau (mélanomes)</span>
                </span>
              </div>
              <div id="block-system-main" class="block block-system">
                <div class="block-inner">
                  <div class="content">
                    <div class="ds-1col node node-cancer view-mode-full clearfix ">
                      <h2>Dépistage en ligne (Beta)</h2>
                      <p>
                        Ce dépistage rapide est basé sur une analyse d'image par une <strong>intelligence artificielle</strong>.
                      </p>
                      <p>
                        Il ne se substitue pas à un examen médical avec votre <strong>dermatologue</strong>. 
                        En cas de doute, <strong>prenez rendez-vous</strong> directement avec lui.
                      </p>
                      <h3>Procéder maintenant à un test de dépistage</h3>
                      <p>
                        1. Prenez une photo de votre grain de beauté<br/>
                        2. Soumettez-là au moyen du formulaire ci-dessous<br/>
                        3. Recevez un premier avis en quelques secondes
                      </p>
                      <form action="uploader" method="post"enctype=multipart/form-data>
                        <div class="form-item form-type-textfield form-item-search-block-form">
                          Sélectionnez une photo : <br />
                          <input title="Sélectionnez une photo" type="file" id="edit-search-block-form--2" name="detection_picture" size="25" class="form-text">
                        </div>

                        <div class="form-actions form-wrapper" id="edit-actions">
                          <input type="submit" id="edit-submit" name="op" value="Analyser la photo" class="form-submit">
                        </div>
                        <div>
                          <p>{{input_image}}</p>
                          <p>{{predict_res}}</p>
                        </div>
                      </form>

                      <div class="myContainer">
                        <img src="{{ url_for('video_feed') }}" alt="stream">
                        <button type="button"class="btn_capture"> <a id="buttonLinkCapture" href="{{ url_for('capture_feed') }} target="_blank"">Capture</a> </button>
                        <button type="button"  class="btn_close"><a id="buttonLinkClose" href="{{ url_for('close_feed') }} target="_blank"">Close</a></button>
                      </div>
                      <div class="myContainer">
                        <img src="" alt="prediction" class="myPred">
                      </div>
                      </div>
                        
                        
                        
                     
                    </div>
                  </div>
                </div> <!-- block-inner -->
              </div> <!-- block block-system -->
              
            </div>
          </section>
          <!-- Sidebar right-->
        </div> <!-- /.row -->
      </section> <!-- /#page-wrapper -->
    </div> <!-- page -->
    <!-- Footer -->
    <footer id="page-footer" class="page-footer">
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/button.js') }}" type=text/javascript>
    <script src="{{ url_for('static', filename='js/request.js') }}" type=text/javascript>
</script>
  </body>
</html>