<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="La Fondation contre le Cancer vous informe sur le cancer de la peau (mélanome). Lisez-en plus sur les traitements et symptômes.">
    <meta name="abstract" content="cancer de la peau, mélanome">
    <title>Cancer de la peau (mélanome)</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="static/css/theme.css" media="all">
  </head>
  <body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-8176 node-type-cancer i18n-fr eu-cookie-compliance-processed cowGdprTweaksGoogleTag-processed">
    <div class="page-main">
      <!-- Header -->
      <header id="page-header" class="page-header">
        <div class="container">
          <div class="row">
            <a href="javascript:;" class="fa fa-bars mobile-only"></a>
            <!-- Logo -->
            <a href="https://www.cancer.be/" rel="home" id="logo">
              <img src="static/image/logo_fr.png" alt="Accueil">
            </a>
            <!-- Region Header -->
            <div class="header-wrapper no-grid">
              <div class="region region-header">
                <div id="block-menu-menu-secondary-navigation-fr" class="block block-menu top-menu footerize-processed">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="menu clearfix"><li class="first collapsed"><a href="https://www.cancer.be/la-fondation-contre-le-cancer">La Fondation</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/annuaire" title="Annuaire">Annuaire</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/activites" title="Agenda">Agenda</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/actualites">Actualités &amp; Presse</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/travailler-la-fondation-contre-le-cancer">Jobs</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/galleries">Photos</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/nous-soutenir/participez-en-tant-quentreprise/nos-partenaires">Partenaires</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/publications">Publications</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/nous-soutenir/espace-donateur" title="Espace Donateur">Mon Espace Donateur</a></li>
                        <li class="leaf"><a href="https://www.cancer.be/questions-frequemment-posees">Faq</a></li>
                        <li class="last leaf"><a href="https://www.cancer.be/nous-contacter">Contact</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-search-form" class="block block-search search-box">
                  <div class="block-inner search-mob-processed">
                    <div class="content">
                      <form action="/les-cancers-types-de-cancers-liste-z/cancer-de-la-peau-m-lanome" method="post" id="search-block-form" accept-charset="UTF-8" class="fv-processed" novalidate="">
                        <div>
                          <div class="container-inline">
                            <h2 class="element-invisible">Formulaire de recherche</h2>
                            <div class="form-item form-type-textfield form-item-search-block-form">
                              <label class="element-invisible" for="edit-search-block-form--2">Rechercher </label>
                              <input title="Indiquer les termes à rechercher" type="text" id="edit-search-block-form--2" name="search_block_form" size="15" maxlength="128" class="form-text">
                            </div>
                            <div class="form-actions form-wrapper" id="edit-actions">
                              <input type="submit" id="edit-submit" name="op" value="Rechercher" class="form-submit">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-menu-menu-primary-navigation-fr" class="block block-menu main-navigation jquery-once-34-processed">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="menu clearfix">
                        <li class="expanded active-trail"><a href="https://www.cancer.be/le-cancer" class="active-trail">Le cancer</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/aide-aux-patients">Aide aux patients</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/pr-vention-0">Prévention</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/d-pistages-et-signaux-dalarme-du-cancer">Dépistage et signaux d'alarme</a></li>
                        <li class="collapsed"><a href="https://www.cancer.be/projets-finances">Projets financés</a></li>
                        <li class="last collapsed"><a href="https://www.cancer.be/un-don-pour-la-vie">Nous soutenir</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->

                <div id="block-locale-language" class="block block-locale language-switcher">
                  <div class="block-inner">
                    <div class="content">
                      <ul class="language-switcher-locale-url">
                        <li class="nl first"><a href="https://www.kanker.be/alles-over-kanker/alle-types-kanker/huidkanker-melanoom" class="language-link" xml:lang="nl" hreflang="nl" title="Huidkanker (melanoom)" lang="nl">NL</a></li>
                        <li class="fr last active"><a href="https://www.cancer.be/les-cancers-types-de-cancers-liste-z/cancer-de-la-peau-m-lanome" class="language-link active" xml:lang="fr" hreflang="fr" title="Cancer de la peau (mélanome)" lang="fr">FR</a></li>
                      </ul>
                    </div>
                  </div> <!-- block-inner -->
                </div> <!-- /block -->
              </div>
            </div>  
            <a href="javascript:;" class="fa fa-search mobile-only"></a>
          </div><!-- row -->
        </div> <!-- container -->
      </header>

      <!-- Breadcrumb -->
      <div class="breadcrumb">
        <div class="container">
          <div id="breadcrumb" class="mobile-breadcrumb-processed">
            <h2 class="element-invisible">Vous êtes ici</h2>
            <div class="bread-mobile">
              <ul>
                <li><a href="https://www.cancer.be/">Accueil</a> </li><li><ul><li class="separator">  &gt;   ...    &gt;  </li>
                <li><a href="https://www.cancer.be/le-cancer">Le cancer</a></li>
                <li><a href="https://www.cancer.be/cancer-glossary">Types de cancers</a></li>
                <li class="last">Cancer de la peau (mélanome) - Général</li>
              </ul>
            </div>
            <div class="breadcrumb">
              <a href="https://www.cancer.be/">Accueil</a> » 
              <a href="https://www.cancer.be/le-cancer">Le cancer</a> » 
              <a href="https://www.cancer.be/cancer-glossary">Types de cancers</a> » 
              <span class="active">Cancer de la peau (mélanome) - Général</span>
            </div>
          </div>
        </div>
      </div>
      <!-- breadcrumb -->
      
      <div class="promo">
        <div class="container">
          <div class="region region-promo">
            <div id="block-views-header-image-block-3" class="block block-views header-banner jquery-once-23-processed">
              <div class="block-inner">
                <div class="content">
                  <div class="view view-header-image view-id-header_image view-display-id-block_3 view-dom-id-e962e61e3a7282f888928e45462b7d54">
                    <div class="view-content">
                      <div>
                        <img src="static/image/Type_kanker_0.jpg">    
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- block-inner -->
              <h1 class="title" id="page-title">Cancer de la peau (mélanome) - Général</h1>
            </div> <!-- /block -->
            <div id="block-menu-block-9" class="block block-menu-block main-navigation-lvl2 jquery-once-36-processed hidden-phone">
              <div class="block-inner">
                <div class="content">
                  <div class="menu-block-wrapper menu-block-9 menu-name-menu-primary-navigation-fr parent-mlid-0 menu-level-4">
                    <ul class="menu clearfix">
                      <li class="first leaf has-children active-trail active menu-mlid-6653"><a href="/" title="Tout savoir sur le mélanome : causes, symptômes et traitements du mélanome. La Fondation contre le Cancer vous informe de A à Z sur le mélanome." class="active-trail active">Cancer de la peau (mélanomes)</a></li>
                      <li class="leaf menu-mlid-9149"><a href="/">Causes</a></li>
                      <li class="leaf menu-mlid-9150"><a href="/">Symptômes</a></li>
                      <li class="leaf menu-mlid-9151"><a href="/">Examens</a></li>
                      <li class="leaf menu-mlid-9152"><a href="/">Traitements</a></li>
                      <li class="last leaf menu-mlid-9153"><a href="detection">Dépistage en ligne (Beta)</a></li>
                    </ul>
                  </div>
                </div>
              </div> <!-- block-inner -->
            </div> <!-- /block -->
          </div>
        </div>
      </div> <!-- promo -->
      
      <!-- Messages -->
      <section id="page-wrapper" class="page-wrapper eq-block-footer-processed">
        <div class="container">
          <div class="row">
          <!-- Sidebar Left -->
          <!-- Page content-->
          <section id="page-content" class="col-md-12">
            <!-- Region content-->
            <div class="region region-content">
              <div class="navigation-menu-drop-js mobile-only">
                <select id="ui-id-13" style="display: none;">
                  <option value="0" selected="selected">Cancer de la peau (mélanomes)</option>
                  <option value="1">Causes</option>
                  <option value="2">Symptômes</option>
                  <option value="3">Examens</option>
                  <option value="4">Traitements</option>
                  <option value="5">Dépistage en ligne (Beta)</option>
                </select>
                <span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="ui-id-13-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-13-menu" aria-haspopup="true" style="width: 98px;">
                  <span class="ui-icon ui-icon-triangle-1-s"></span>
                  <span class="ui-selectmenu-text">Cancer de la peau (mélanomes)</span>
                </span>
              </div>
              <div id="block-system-main" class="block block-system">
                <div class="block-inner">
                  <div class="content">
                    <div class="ds-1col node node-cancer view-mode-full clearfix ">
                      <p>
                        Un mélanome est l’une des formes du cancer de la peau. Il se développe dans les <strong>mélanocytes ou cellules pigmentaires</strong>.
                        Par facilité, nous utiliserons les termes cancer de la peau et mélanome
                        au singulier. Mais il en existe différentes sortes et, même en cas de 
                        maladies similaires, chaque personne présente des particularités 
                        spécifiques.
                      </p>
                      <p>
                        <a class="link-button-blue" href="detection">Réalisez un dépistage rapide en ligne (Beta)&nbsp;</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="link-button-blue" href="https://www.cancer.be/le-cancer/types-de-cancers/cancer-de-la-peau-non-melanome">En savoir plus ici sur le cancer de la peau (non-mélanome)&nbsp;</a>
                      </p>
                      <h2>Anatomie de la peau</h2>
                      <div class="media media-element-container media-media_full media-wysiwyg-align-right">
                        <div id="file-13907" class="file file-image file-image-png">
                          <h2 class="element-invisible"><a href="https://www.cancer.be/file/huidkankergrafiek4frpng">huidkanker_grafiek_4_fr.png</a></h2>
                          <div class="content">
                            <img alt="Cancer de la peau graphique " style="height: 400px; font-size: 17px; width: 280px; margin-right: 20px;" class="media-element file-media-full" data-delta="1" src="static/image/huidkanker_grafiek_4_fr.png" width="1016" height="1453">  
                          </div>
                        </div>
                      </div>
                      <p>
                        Notre peau est constituée de <strong>trois couches</strong>. 
                        La couche superficielle porte le nom <strong>d’épiderme</strong>, la couche intermédiaire se nomme <strong>derme</strong> 
                        et la couche inférieure est appelée tissu conjonctif sous-cutané ou <strong>hypoderme</strong>.
                      </p>
                      <p>
                        <strong>L’épiderme</strong> est principalement constitué de <strong>deux types de cellules</strong>: 
                        les cellules basales et les cellules pavimenteuses. En outre, on rencontre dans l’épiderme des cellules pigmentaires, les mélanocytes. 
                        Les cellules basales de la couche profonde de l’épiderme sont capables de se diviser. C’est à leur niveau que se forment 
                        <strong>les nouvelles cellules cutanées</strong>.
                        Sur une période de l’ordre d’un mois, ces nouvelles cellules migrent vers le haut et, en même temps, changent de forme. 
                        Au départ, elles sont rondes ou ovales, ensuite elles deviennent plus anguleuses et par après, elles s’aplatissent (cellules pavimenteuses).
                      </p>
                      <p>
                        <strong>Le derme</strong> est constitué de tissu conjonctif, également appelé tissu de soutien. On y trouve notamment :&nbsp;
                        des glandes sudoripares (qui produisent la sueur), des follicules pileux associés à des glandes sébacées, des vaisseaux sanguins 
                        et lymphatiques, ainsi que des terminaisons nerveuses.
                      </p>
                      <p>
                        <strong>L’hypoderme</strong> sert principalement de soutien et se compose essentiellement de tissu graisseux.
                      </p>
                      <p>
                        <img alt="La peau" class="wysiwyg_image_400_width" src="static/image/8176_8337_DPVaQ2.png" title=" ">
                      </p>
                      <h3>Les fonctions de notre peau</h3>
                      <ul>
                        <li>Elle protège notre organisme, par exemple vis-à-vis <strong>des infections et des rayons ultraviolets</strong> (UV).</li>
                        <li>Elle nous permet de percevoir <strong>des signaux</strong> en 
                        provenance de notre environnement : les nerfs cutanés transmettent les 
                        stimuli douloureux, sensitifs et thermiques vers le cerveau qui 
                        transforme ces stimuli en sensations.</li>
                        <li>Enfin, la peau joue un grand rôle dans la régulation de <strong>la température corporelle</strong>, 
                          les glandes sudoripares de la peau contribuant largement à cette régulation.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> <!-- block-inner -->
              </div> <!-- block block-system -->
              <div id="block-views-paragraph-blocks-block" class="block block-views paragraph-silver-box paragraph-box-equal">
                <div class="block-inner">
                  <div class="content">
                    <div class="view view-paragraph-blocks view-id-paragraph_blocks view-display-id-block research-view view-dom-id-ddd1eeb663bf66f59eb9b099152a82f1">
                      <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first">
                          <div class="views-field views-field-field-blocks-paragraphs">        
                            <div class="field-content">
                              <div class="entity entity-paragraphs-item paragraphs-item-submenutree cb-522 match-height-processed">
                                <div class="content">
                                  <div class="field field-name-field-submenutree field-type-taxonomy-term-reference field-label-hidden">
                                    <div class="field-items">
                                      <div class="field-item even">
                                        <div class="field field-name-field-tax-block-reference field-type-blockreference field-label-hidden">
                                          <div class="field-items">
                                            <div class="field-item even">
                                              <div id="block-coworks-subtree-coworks-subtree-block" class="block block-coworks-subtree">
                                                <div class="block-inner">
                                                  <div class="content">
                                                    <div class="view view-coworks-subtree-default view-id-coworks_subtree_default view-display-id-default view-dom-id-03ae5ac656544c0c9d3f4251123a2c21">
                                                      <div class="view-content">
                                                        <div class="views-row views-row-1 views-row-odd views-row-first">
                                                          <div class="ds-1col node node-type-kanker-infopagina node-teaser view-mode-teaser clearfix ">
                                                            <h2><a href="https://www.cancer.be/les-cancers-types-de-cancers-liste-z-cancer-de-la-peau-m-lanomes/causes">Causes</a></h2>
                                                            Le nombre de personnes atteintes d’un mélanome a considérablement augmenté au cours des dernières décennies.
                                                            Ceci peut être mis en corrélation avec la mode du bronzage.
                                                          </div>
                                                        </div>
                                                        <div class="views-row views-row-2 views-row-even">
                                                          <div class="ds-1col node node-type-kanker-infopagina node-teaser view-mode-teaser clearfix ">
                                                            <h2><a href="https://www.cancer.be/les-cancers-types-de-cancers-liste-z-cancer-de-la-peau-m-lanomes/sympt-mes">Symptômes</a></h2>
                                                            Un mélanome peut se former soit au niveau d’une zone de peau “saine”, sans tache pigmentée préalable, 
                                                            soit sur un grain de beauté existant.
                                                          </div>
                                                        </div>
                                                        <div class="views-row views-row-3 views-row-odd">
                                                          <div class="ds-1col node node-type-kanker-infopagina node-teaser view-mode-teaser clearfix ">
                                                            <h2><a href="https://www.cancer.be/les-cancers/types-de-cancers/cancer-de-la-peau-m-lanomes/examens">Examens</a></h2>
                                                            Il est possible d'effectuer un dépistage des taches pigmentées de la peau en vue de découvrir un éventuel mélanome.
                                                          </div>
                                                        </div>
                                                        <div class="views-row views-row-4 views-row-even views-row-last">
                                                          <div class="ds-1col node node-type-kanker-infopagina node-teaser view-mode-teaser clearfix ">
                                                            <h2><a href="https://www.cancer.be/les-cancers/types-de-cancers/cancer-de-la-peau-m-lanomes/traitements">Traitements</a></h2>
                                                            Les traitements d’un cancer de la peau nécessitent une coordination étroite entre différentes disciplines médicales et
                                                            paramédicales car ils associent, en fonction des besoins, chirurgie, radiothérapie, chimiothérapie et immunothérapie.
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div> <!-- block-inner -->
                                              </div> <!-- /block -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="views-row views-row-2 views-row-even views-row-last">
                          <div class="views-field views-field-field-blocks-paragraphs">
                            <div class="field-content">
                              <div class="entity entity-paragraphs-item paragraphs-item-predefined-views-full-width- cb-991 match-height-processed">
                                <div class="content">
                                  <div class="field field-name-field-pre-view field-type-taxonomy-term-reference field-label-hidden">
                                    <div class="field-items">
                                      <div class="field-item even">
                                        <div class="field field-name-field-tax-block-reference field-type-blockreference field-label-hidden">
                                          <div class="field-items">
                                            <div class="field-item even">
                                              <div id="block-views-publicaties-block" class="block block-views">
                                                <div class="block-inner">
                                                  <h2>En savoir plus?</h2>
                                                  <div class="content">
                                                    <div class="view view-publicaties view-id-publicaties view-display-id-block view-dom-id-1f9beb8df78b601e5d21d5392df00c34">
                                                      <div class="view-content">
                                                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                                          <div class="ds-1col node node-publication view-mode-cancer_page_teaser clearfix  jquery-once-2-processed">
                                                            <a href="https://www.cancer.be/publication/les-cancers-de-la-peau-melanomes"><img src="static/image/cover%25203.jpg" width="138" height="302"></a>
                                                            <div class="label-inline">Titre :&nbsp;</div>
                                                            <span>Les cancers de la peau : mélanomes</span>
                                                            <a href="https://www.cancer.be/sites/default/files/publication/7-fcc_brochure_cancers_de_la_peau-_le_melanome-2020.pdf" class="link-button">Télécharger le PDF (1.22 Mo)</a>
                                                            <div class="read-more">
                                                              <a href="https://www.cancer.be/publication/les-cancers-de-la-peau-melanomes">Commander la brochure papier</a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>    
                                                  </div>
                                                </div> <!-- block-inner -->
                                              </div> <!-- /block -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>  
                                </div>
                              </div>
                            </div>  
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- block-inner -->
              </div> <!-- /block -->
            </div>
          </section>
          <!-- Sidebar right-->
        </div> <!-- /.row -->
      </section> <!-- /#page-wrapper -->
    </div> <!-- page -->
    
    <!-- Footer -->
    <footer id="page-footer" class="page-footer">
    </footer>
  </body>
</html>